###Enable Start Amount - This sets a certain amount of money when you start the game###
false
###Starting Amount - If set true, you will set the amount of money when you start the game###
50000
###Interact Key - Leave Blank for Default - Change to Any Key of your choice.###
E
###Show HUD - Leave this if you want your HUD to show. Ex: Degree, Job, Salary###
true
###Show HUD Key - Press this key to pull up JobsV HUD (If Activated)###
J
###SaveGame Key###
K
###Load Game Key###
F11
###Autosave - Switch true for autosave | false for no autosave
true